<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${'First name: ' + user.getFirstname()}">VALUE</p>
<p th:text="${'Last name: ' + user.getLastname()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${'Password: ' + user.getPassword()}">VALUE</p>

<form th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>